body{
    background-color: #522366 !important;
    background-image: url("https://www.transparenttextures.com/patterns/cubes.png") !important;
}

#root{
    padding: 0;
    margin: 0;
}
.navbar{
    padding: 0;
    color: #000;
    background-color: transparent !important;
}
.navbar-nav{
    margin-right: 10px;
    margin-left: auto;

}
.navbar-brand{
    font-weight: bold;
    color: white;
    font-size: 30px;
}
.container-fluid{
    color: black;
    background-color: transparent !important;
    padding: 15px;
    border: none;
}
.todo-list{
    padding: 10px;
}

.nav-link{
    color: white;
}